{% extends "base.html" %}

{% if lang is not defined %}
    {% set lang = DEFAULT_LANG %}
{% endif %}

{% block html_lang %}
    {{ lang }}
{% endblock %}

{% block body_class %}{{ super() }}index{% endblock %}

{% block content %}

<!-- THE CHECKBOX NAVIGATION -->
<nav class="main-nav">   
    <ul class="checkbox-menu">

        {% for page in pages|sort(attribute='order')%}

            {% if lang != DEFAULT_LANG %}
                {% set translated = page.translations|selectattr('lang', 'equalto', lang)|list %}
                {% if translated|length > 0 %}

                    {% set _ = translated[0].__setattr__('default_state', page.default_state) %}
                    {% set _ = translated[0].__setattr__('order', page.order) %}
                    {% set _ = translated[0].__setattr__('column', page.column) %}
                    {% set _ = translated[0].__setattr__('overflow', page.overflow) %}

                    {% set page = translated[0] %}

                {% endif %}
            {% endif %}

            {% if page %}
                {% include 'partials/checkbox.html' %}
            {% endif %}

        {% endfor %}
    </ul>

    <p class="languages-menu">
        <a href="./index.html">en</a>
        <a href="./index_fr.html">fr</a>
        <a href="./index_nl.html">nl</a>
    </p>
    
</nav>

<!-- THE MODULAR SECTIONS -->
<main class="modular-grid">

    <aside class="easter-egg layer">
        <figure>
            <video id="blueprint-video" controls preload="none">
                <source src="./images/Blueprint_excerpt_QO2.mp4"
                        type="video/mp4">
            </video>
            <figcaption>
                Justin Bennett &mdash; Blueprint
            </figcaption>
        </figure>
    </aside>

    {% set colum_1 = pages|selectattr('column', 'equalto', 1)|list %}
    {% with column = colum_1 %}
        {% include 'partials/column.html' %}
    {% endwith %}

    {% set colum_2 = pages|selectattr('column', 'equalto', 2)|list %}
    {% with column = colum_2 %}
        {% include 'partials/column.html' %}
    {% endwith %}

    {% set colum_3 = pages|selectattr('column', 'equalto', 3)|list %}
    {% with column = colum_3 %}
        {% include 'partials/column.html' %}
    {% endwith %}

</main>


</section>


<script src="{{ THEME_STATIC_DIR }}/js/checkbox.js"></script>

<script src="{{ THEME_STATIC_DIR }}/js/airtime-script.js"></script>

<!-- 
  those scripts are delivered through the osp.kitchen vps
  and are needed to create the connected drawing
-->

<!-- automatically delivered by the server side of socket.io -->
<script src="https://q-o2.osp.kitchen/socket.io/socket.io.js"></script>

<!-- served as static file by express -->
<script src="https://q-o2.osp.kitchen/js/path-data-polyfill.js"></script>
<script>
    const app_domain = 'https://q-o2.osp.kitchen';
</script>
<script src="https://q-o2.osp.kitchen/js/client.js"></script>


<!-- 
    OLD 
-->

<!-- 
<script src="{{ THEME_STATIC_DIR }}/js/path-data-polyfill.js"></script>
<script src="{{ THEME_STATIC_DIR }}/js/sonic-crowd-network.js"></script>
<script>
    let svg = document.getElementById("sonic-crowd-network__svg");
    let number = map_value(Math.random(),0,1,4,32);
    random_path(svg, number);
</script> -->

{% endblock content %}
