
{% for day in page.days %}
    {% for date, day in day.items() %}

        <details class="unfolding-details">

            <summary>
                <h2>
                    <span>{{ day.day_name }}</span>
                    <span class="in-title-date">{{ date }}</span>
                </h2>
            </summary>
    
            <section class="unfolding-details__content">
            
            {% set conditions = {'streamed': False} %}
            {% for event in day.events %}
                {% for event_name, event_info in event.items() %}
                    {% if event_info.streamed==True %}
                        {% set _ = conditions.update({'streamed': True}) %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            
            {% if conditions.streamed %}
                <p class="streamed-true streamed-pre">simultaneously broadcast on this website</p>
            {% endif %}

            {% for event in day.events %}
                {% for event_name, event_info in event.items() %}

                {% if event_info.type == "start" %}
                <div class="start-event event-details">
                        <span class="event__short">
                            <div class="event__date">
                                {{ event_info.time }}
                            </div>
                            <div class="event__venue">
                                {{ event_info.location }}
                            </div>
                        </span>
    
                        <span class="event__name">
                            <span>{{ event_name }}</span>
                        </span>
                        <!-- description -->
                        {% if event_info.description %}
                        <div class="event__description">
                            {{ event_info.description|md_parse }}
                        </div>
                        {% endif %}
                </div>
                {% else %}
                <details class="event-details">

                    <summary>
                        <h3 class="event__name">
                            <span class="{% if event_info.streamed==True %}streamed-post{% endif %}">{{ event_name }}</span>

                            {% if event_info.type and event_info.type!='live' %}
                                <span class="event__type">{{ event_info.type }}</span>
                            {% endif %}
                        </h3>

                        <div class="event__short">
                            <div class="event__date">
                                {{ event_info.time }}
                            </div>
                            <div class="event__venue">
                                {{ event_info.location }}
                            </div>
                        </div>
                    </summary>

                    <section class="event-details__content">

                        <!-- more practical infos about event -->
                        {% if event_info.practical %}
                        <div class="event__practical">
                            {{ event_info.practical|md_parse }}
                        </div>
                        {% endif %}

                        <!-- description -->
                        {% if event_info.description %}
                        <div class="event__description">
                            {{ event_info.description|md_parse }}
                        </div>
                        {% endif %}

                        <!-- image -->
                        {% if event_info.image %}
                        <figure class="event__image">
                            {% if event_info.image.startswith('./images/') %}
                                <img src="{{ event_info.image }}" class="image-process-agenda" loading="lazy">
                            {% else %}
                                <img src="{{ event_info.image }}" class="" loading="lazy">
                            {% endif %}
                            {% if event_info.image_credits %}
                                <figcaption>{{ event_info.image_credits }}</figcaption>
                            {% endif %}
                        </figure>
                        {% endif %}

                        <!-- bios -->
                        {% if event_info.biography %}
                        <div class="event__biography">
                            {{ event_info.biography|md_parse }}
                        </div>
                        {% endif %}

                        <!-- external links -->
                        {% if event_info.links %}
                        <ul class="event__links">
                            {% for link in event_info.links %}
                                {% for link_name, link_url in link.items() %}
                                    <li><a target="_blank" href="{{link_url}}">{{link_name}}</a></li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                        {% endif %}

                    </section>

                </details>
                {% endif %}
                {% endfor %}
            {% endfor %}

            </section>

        </details>
    {% endfor %}
{% endfor %}