{% for article in articles %}

    {% if article.section == 'specials' %}

    {% if lang != DEFAULT_LANG %}
        {% set translated = article.translations|selectattr('lang', 'equalto', lang)|list %}
        {% if translated|length > 0 %}
            {% set _ = translated[0].__setattr__('date', article.date) %}
            {% set _ = translated[0].__setattr__('image', article.image) %}
            {% set _ = translated[0].__setattr__('image_credits', article.image_credits) %}
            {% set article = translated[0] %}
        {% endif %}
    {% endif %}

    <details class="blogpost unfolding-details small-summary">

        <summary>
            <h2>
                <span>{{ article.title }}</span>
                {#<span class="in-title-date">{{ article.locale_date }}</span>#}
            </h2>
        </summary>

        <section class="unfolding-details__content">

            <!-- image -->
            {% if article.image %}
            <figure class="event__image">
                {% if article.image.startswith('/images/') %}
                    <img src="{{ article.image }}" class="image-process-agenda" >
                {% else %}
                    <img src="{{ article.image }}" class="">
                {% endif %}
                {% if article.image_credits %}
                    <figcaption>{{ article.image_credits }}</figcaption>
                {% endif %}
            </figure>
            {% endif %}

            <div class="blogpost__text">
                {{ article.content }}
            </div>

        </section>

    </details>

    {% endif %}

{% endfor %}