
/* DAY TITLE IN BIG
======================================================== */

#agenda__section details.unfolding-details > summary h2{
  font-size: var(--fs-clamp-big-safe);
  font-size: var(--fs-clamp-big);
  flex-grow: 1;
  gap: 0.5rem;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  #agenda__section details.unfolding-details > summary h2{
    font-size: var(--fs-clamp-medium);
  }
}

/* individual artist details for agenda
======================================================== */

details.event-details{
}

/* UNFOLDING */
/* removing the default arrow */
details.event-details > summary::-webkit-details-marker {
  display:none;
}
details.event-details> summary:first-of-type {
  list-style-type: none;
}

details.event-details > summary{
  cursor: pointer;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  align-items: baseline;
}

.event__name{
  grid-column: 1 / -1;
}
.event__short{
  grid-column: 1 / -2;
}

details.event-details > summary::after {
  grid-column: 2 / -1;

  text-decoration: underline;
  content: "more";
  font-family: 'Karrik';
  /* position: absolute;
  top: 0;
  right: 0; */
  display: inline-block;
  margin-left: 1rem;

  text-decoration-thickness: var(--border-width);
}

details.event-details > summary:hover::after{
  text-decoration: none;
}

details.event-details[open] > summary::after {
  content: "less";
}

details.event-details.talk > summary::before{
  content: 'talk';
}

/* SPECIFIC CONTENT
======================================================== */

:root{
  --stream-size: 1rem;
}

.streamed-true{
  color: var(--c-active);
}

.streamed-pre::before,
.streamed-post::after{
  content: "";
  background: radial-gradient(circle closest-side, var(--c-active), rgba(255,0,0,0) 100%);
  display: inline-block;
  width: var(--stream-size);
  height: var(--stream-size);
  vertical-align: middle;
  line-height: 0;
}
.streamed-pre::before{
  margin-right: 0.25rem;
}
.streamed-post::after{
  margin-left: 0.25rem;
}

/* --- */
.event__name{
  font-size: var(--fs-kr-up);
  position: relative;
}
.event__date {
  font-family: 'MetaBouba';
  font-size: var(--fs-meta-small);
  display: inline-block;

  margin-right: 0.25rem;
}
.event__venue {
  display: inline-block;
  font-size: var(--fs-kr-up);
}
.event__type{
  font-size: var(--fs-main);

  margin-left: 0rem;

  padding: 0 0.25em;
  border-radius: 0.25em;
  border: var(--border);
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.event__practical{
  padding: 0.5em;
  border-radius: 0.5em;
  border: var(--border);
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.event__practical > p{
  margin: 0;
}
.event__links{
  list-style: none !important;
}

/* --- */

.event-details__content{
  padding-top: 1rem;
}
.event-details__content > *:not(:last-child){
  margin-bottom: 1rem;
}

/* --- */

.event__biography p:before {
  content: " _ ";
  color: red;
  font-family: 'MetaBouba';
  line-height: 0;
  position: relative;
  bottom: -0.1em;
}

/* --- */

.start-event .event__venue{
  border: var(--border);
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  margin: 0 0rem;
}
.start-event  .event__name{
  margin-left: 0.25rem;
}