
#line-up__section p{
    margin-top: 0.5em;
}

#line-up__section li::after {
    content: " _ ";
    color: red;
}

#line-up__section ul{
    font-size: var(--fs-clamp-medium-safe);
    font-size: var(--fs-clamp-medium);
    line-height: 1.2;
}

#line-up__section ul li{
    word-break:break-word;
}

#line-up__section li{
    display: inline;
}

#line-up__section ul li{
    font-family: 'MetaBouba';
}