
@media only screen and (max-width: 920px) {

    :root{
        /* ajusting font-sizes on mobile */
        --fs-clamp-big: max(2rem, min(11vw, 50px));
        --fs-clamp-medium: max(1.35rem, min(6vw, 35px));
    }

    /* LAYOUT
       ======================================================== */

    body.index{
        /* set back in default */
        display: block;
        width: 100%;
        height: auto;

        background-color: var(--c-back);
    }

    
    .modular-grid {
        overflow: auto;
        
        display: flex;
        flex-direction: column;
        
        width: 100%;
        height: auto;
    }
    
    details.modular-section{
        overflow: auto;
        
    }
    
    /* removing anything flex */
    .column{
        display: block;
        min-width: initial;
        position: static;
        height: auto;
    }
    details.modular-section {
        padding: 0;
        min-height: initial;
        height: auto;
        overflow: auto;

        border-top: none;
        border-bottom: var(--border);
    }

    /* padding */
    .section-content {
        padding: 1em 1em;
        height: auto;
    }


    /* DETAILS NAVIGATION
       ======================================================== */

    /* top nav */
    nav.main-nav{
        position: relative;
        background: none;
        height: 0;
    }
    ul.checkbox-menu {
        display: none;
    }
    .languages-menu {
        position: absolute;
        top: calc(100% + 1.25rem);
        right: 0;
        z-index: 10000;
        padding-right: 1rem;
    }

    /* details */
    details.modular-section:not([open]){
        display: block;
    }

    details.modular-section > summary{
        display: block;
        padding: 0.75em 1em 0.75em;
    
        transition: background-color 0.2s;
    }
    details.modular-section:not([open]) > summary{
        background-color: var(--c-nav-back);
    }
}


@media only screen and (max-width: 600px) {

    :root{
        /* ajusting font-sizes on mobile */
        --fs-main: 1em;
        --fs-kr-up: 1.15rem;
        --fs-meta-small: 1.15rem;
    }

    details.modular-section > summary {
        padding: 0.75em 0.5em 0.75em;
    }

    details.modular-section .section-content {
        padding: 1em 0.5em;
    }

}