
#stream__section{
    border-bottom: var(--border);
    margin-bottom: calc(-1 * var(--border-width));
}
#stream__section .section-content{
    padding: 0;
}

.stream-player{
    background: linear-gradient(to right, var(--c-nav-back), rgba(255,255,255,0));

    display: flex;
    align-items: stretch;
}

.stream-player__btn{
    flex: 0 0 auto;
    border: none;
    background: none;

    padding: 0.6rem;
    font-size: 1rem;
    width: 3.8em;
    min-height: 3.8em;
    text-align: center;

    border-right: var(--border);
}
.stream-player__btn svg{
    width: 1em;
    height: 1em;
    fill: black;
    position: relative;
    top: 0.15em;
}
.stream-player__btn:disabled svg{
    fill: var(--c-disabled);
}

.playing .stream-player__btn{
    background-color: var(--c-stroke-darker);
}

.stream-player__now{
    flex: 1 1 auto;
    
    padding: 1em;

    line-height: 1.1;
}

.current-title{
    /* background-color: hsl(-4, 100%, 70%); */
    color: red;
}

@media only screen and (max-width: 920px) {
    #stream__section{
        margin-bottom: 0;
    }
    #stream__section .section-content{
        border-top: var(--border);
    }
}